@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #151818;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
}

.container .box {
  position: relative;
  width: 320px;
  height: 400px;
  margin: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .box::before {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, #ff00ff, #95ff00);
}

.container .box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, #ff00ff, #95ff00);
  filter: blur(30px);
}

.container .box:nth-child(1)::before,
.container .box:nth-child(1)::after {
  background: linear-gradient(45deg, #ff5e00, #00ffc8);
}

.container .box:nth-child(2)::before,
.container .box:nth-child(2)::after {
  background: linear-gradient(315deg, #48ff00, #ff00c8);
}

.box b {
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.box img {
  position: absolute;
  z-index: 3;
  scale: 0.8;
  opacity: 0.75;
  transition: 0.5s;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.box:hover img {
  scale: 0.6;
  opacity: 0.9;
  object-fit: cover;
  transform: translateY(-70px);
}

.box .content {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
  transform: scale(0);
  z-index: 3;
}

.box:hover .content {
  transform: scale(1);
  bottom: 35px;
}

.box h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  line-height: 1em;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

.box h2 span {
  font-weight: 300;
  font-size: 0.75em;
}

.box .social {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
}

.box .social li {
  list-style: none;
}

.box .social li a {
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.2);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.4s;
}

.box .social li a:hover {
  color: rgba(255, 255, 255, 1);
}