@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #121212;
}

.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 80px;
	flex-wrap: wrap;
}

.container .card {
	position: relative;
	width: 300px;
	height: 400px;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container .card .content {
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 25px;
	gap: 10px;
	transition-delay: 0s;
	transition: 0.5s;
	opacity: 0;
}

.container .card:hover .content {
	opacity: 1;
	transition-delay: 0.5s;
}

.container .card .content h2 {
	font-weight: 700;
	letter-spacing: 0.1em;
	color: var(--clr);
}

.container .card .content p {
	text-align: center;
	color: #fff;
}

.container .card .content a {
	color: #fff;
	background-color: var(--clr);
	padding: 10px 15px;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	margin-top: 10px;
	letter-spacing: 0.1em;
}

.container .card .img-box,
.container .card .text-box {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}

.container .card .img-box {
	background-color: #fff;
	height: 120px;
	z-index: 1;
	transform-origin: bottom;
}

.container .card:hover .img-box {
	transform: translateY(-100%) rotateX(90deg);
}

.container .card .text-box {
	height: 280px;
	background: var(--clr);
	border-top: 6px solid #333;
	transform-origin: top;
	transition-delay: 0.7s;
	align-items: flex-end;
	overflow: hidden;
}

.container .card:hover .text-box {
	transform: translateY(100%) rotateX(90deg);
}

.container .card .text-box h2 {
	color: #222;
	font-size: 1.25em;
	letter-spacing: 0.15em;
	font-weight: 500;
	text-transform: uppercase;
	background: #fff;
	padding: 5px 25px;
	box-shadow: 0 0 0 8px #333;
}

.container .card .img-box::before {
	content: '';
	position: absolute;
	bottom: -70px;
	left: 50%;
	transform: translateX(-50%);
	width: 144px;
	height: 74px;
	background: #fff;
	border-bottom-left-radius: 80px;
	border-bottom-right-radius: 80px;
	z-index: 1;
}

.container .card .img-box img {
	position: relative;
	top: 50px;
	z-index: 1000;
	width: 100px;
}

.container .card .text-box::before {
	content: '';
	position: absolute;
	top: -8px;
	width: 160px;
	height: 80px;
	background-color: #333;
	border-bottom-left-radius: 80px;
	border-bottom-right-radius: 80px;
}
